@model UpdateBookResponse
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form asp-action="Edit">
    <div class="card mt-2">
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                <label>Kitap İsmi</label>
                <input class="form-control" id="inputName" name="Name" value="@Model.Name" />
                <label>Sayfa Sayısı</label>
                <input class="form-control" id="inputTotalPages" value="@Model.TotalPages" name="TotalPages" />
                <label>Yayın Evi</label>
                <select id="publisher" class="form-control" asp-for="PublisherId" asp-items="ViewBag.SelectedPublisher">
                </select>
            </div>
            <div class="col-md-3">
                <label>Fiyat</label>
                <input class="form-control" id="inputPrice" name="Price" value="@Model.Price" />
                <label>Resim Yolu</label>
                <input class="form-control" id="inputImageUrl" value="@Model.ImageUrl" name="ImageUrl" />
                <label>Yazar</label>
                <select class="form-control" id="writer" asp-for="WriterId" asp-items="ViewBag.SelectedWriter"></select>
            </div>
            <div class="col-md-3">
                <label>Açıklama</label>
                <input class="form-control" id="inputDescription" value="@Model.Description" name="Description" />
                <label>Kitap En</label>
                <input class="form-control" id="inputWidth" value="@Model.Width" name="Width" />
                <label>Kitap Boy</label>
                <input class="form-control" id="inputHeight" value="@Model.Heigth" name="Heigth" />

            </div>
            <div class="col-md-3">

                <label>Kapak Türü</label>
                <input class="form-control" id="inputCoverType" value="@Model.CoverType" name="CoverType" />
                <label>Kitap Dili</label>
                <input class="form-control" id="inputLanguage" value="@Model.Language" name="Language" />
                <label>Kategori</label>

                <ul class="list-group " style=" overflow:scroll; max-height:100px;">
                    @foreach (var item in ViewBag.SelectedCategory)
                    {

                        <li class="list-group-item" style="height:500px">
                            <label>
                                @foreach (var item2 in Model.Categories)
                                {
                                    @if (item.Value == item2.Id.ToString())
                                    {
                                        <input type="checkbox" class="form-check-input me-1" name="filter" value="@item.Value" checked>
                                    }
                                    else
                                    {
                                          <input type="checkbox" class="form-check-input me-1" name="filter" value="@item.Value">
                                    }                   break;
                                }
                                <span style="color:grey;" name="">@item.Text</span>
                            </label>

                        </li>

                    }
                </ul>

                <br />
                <button class="btn btn-success mt-1" type="submit">Kaydet</button>
            </div>

        </div>
    </div>
</div>

</form>

